.A2-container {
  text-align: center;
  visibility: hidden;
}

.circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 50px;
    opacity: 1;
}

.circle-yellow {
    background-color: #FDCF51;
} 

.circle-red {
    background-color: #FD5151;
    cursor: pointer;
}

.circle-blue {
    background-color: #51A0FD;
}